.item-name{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    clear: both;
    text-align: center;   
    border-bottom: 2px dotted rgb(196, 151, 69);
}

.item-name h1{
    display: inline-block;
    font-weight: 700;
    font-size: 32px;
    color: rgb(59, 59, 59);
}

.item-name h4{
    font-weight: 500;
    font-size: 15px;
    color: rgb(196, 151, 69);
}
