.admin-panel,.admin-content{
    position: fixed;
    width: 400px;
    height: 200px;
    background-color: white;
    left: 50%;
    top:50%;
    margin-left: -200px;
    margin-top: -100px;
}

.admin-background{
    background-color: rgba(0, 0, 0, 0.219);
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

.admin-panel{
    padding: 30px;
}

.admin-cancel{
    position: absolute;
    padding: 0;
    margin: 0;
    height: 25px;
    font-size: 20px;
    line-height: 25px;
    width: 60px;
    top: -25px;
    right: 0;
}