.itemProject-item{
    width: 33.3%;
    box-sizing: border-box;
    padding: 5px;
    display: inline-block;
}

.itemProject-item-img{
    width: 100%;
    padding-bottom: 50%;
    background-color: rgb(192, 192, 192);
}

.itemProject-item-content{
    width: 100%;
    padding-bottom: 30%;
    background-color: white;
}